*,*:before,*:after,*:first-letter,p:first-line,div:first-line,blockquote:first-line,li:first-line {
    box-shadow: none !important;
    text-shadow: none !important;
}
a.list-link:after {
    content: " (" attr(href) ")";
    font-size: 10px;
    line-height: 10px;
    font-weight: normal;
    font-style: italic;
} 
/*@page { margin: 1cm; }*/
.page-header>.container{
    padding-top: 10px;
    padding-bottom: 7px;
}
.header-title>.name{
    font-size: 32px;
    line-height: 42px;
}
.photo{
    width: 110px;
    height: 110px;
    margin-right: 2%;
    margin-top: 10%;
}
.header-contacts{
    padding-right: 1cm;
}
.header-contacts{
    grid-template-columns: 1fr;
    grid-gap: 3px;
    width: 55%;
}
.header-title>.position{
    font-size: 16px;
    line-height: 20px;
}
.print:link,
.print:visited {
    display: none;
}
.main-content>.container{
    padding-top: 20px;
}
.left-col{
    width: calc(35% - 30px);
    margin-right: 30px;
}
.right-col{
    width: calc(100% - 35%);
}
.section{
    margin-bottom: 15px;
}
.section-title{
    font-size: 18px;
    margin-bottom: 10px;
} 
 /*left-col*/
.i-am-text{
    line-height: 14px;
}
.marked-list{
    margin-top: 12px;
}
.marked-list>li{
    line-height: 100%;
}
.marked-list.duties>li{
    line-height: 16px;
    font-size: 14px;

}
.cloud-item{
    line-height: 120%;
    margin-right: 5px;
    margin-bottom: 5px;
    color: #000;
    border: 1px solid #cccccc !important;
}
.scales{
    padding-top: 0;
    list-style: disc;
    list-style-position: inside;
}
.scales-item{
    margin-bottom: 5px;
    justify-content: flex-start;
}
.scales-title{
    width: auto;
    margin-right: 10px;
}
.scale{
display: none;
}
.languages .scale-comment{
    color: #0a1a13;
    margin-left: 10%;
    width: auto;

}
/*right col*/
.right-col-item{
    margin-bottom: 0;
}
.left-side{
    font-size: 16px;
    line-height: 18px;
}
.left-side-subtitle{
    font-size: 10px;
    line-height: 14px;
}
.right-side{
    font-size: 12px;
    line-height: 14px;
}
.columns-3{
    padding: 5px 0;
}
.list-item-title{
    font-size: 16px;
    line-height: 18px;
}
.list-item-dates{
    line-height: 14px;
}
.section-title:after {
    content: '';
    margin-top: 0;
}
