html{
    box-sizing: border-box;
    height: 100%;
    font-size: 14px;
    line-height: 1.2;
}
*{
    box-sizing: inherit;
}
.ru {
    display: none;
}
body{
    color: #0c4245;
    font-family: 'Open Sans', sans-serif;
}
.print-version {
    display: none !important;
}
.container{
    min-width: 320px;
    max-width: 1130px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.page-header{
    width: 100%;
    background: linear-gradient(180deg, rgb(6, 63, 53) 0%, rgba(3, 140, 103, 0.92) 60%, rgba(135, 255, 233, 0.667) 100%);
    position: relative;
}
.page-header::after {
    content: "";
    width: 100%;
    height: 100%;
    background-image: url("./img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top:0;
    left: 0;
    opacity: .07;
}
.page-header>.container{
    display: flex;
    padding-top: 45px;
    padding-bottom: 45px;
}
.header-left-side{
    width: 33%;
    display: flex;
}
.header-title{
    color: #e5fefbf7;
    padding-right: 15px;
}
.header-title>.name{
    font-size: 36px;
    line-height: 49px;
    text-transform: uppercase;
    font-weight: 500;
}
.header-title>.position{
    font-size: 18px;
    line-height: 25px;
    opacity: 0.8;
    font-weight: bold;
    margin-left: 5px;
    margin-bottom: 30px;
}
.print:link,
.print:visited{
    display: flex;
    align-items: center;
    margin-top: 10px;
    text-decoration: none;
    color: #01321f;
    opacity: 0.8;
    position: absolute;
    top: 250px;
    right: 40px;
    font-weight: 800;
    z-index: 10;
 }
.print:hover,
.print:active{
    opacity: 1;
}
.print>svg{
    margin-right: 20px;
}
.photo{
    width: 220px;
    height: 220px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 5%;
    z-index: 10;
}
.photo>img{
    width: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    transform: scale(1.4);
}
.header-contacts{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    width: 55%;
    z-index: 10;
}
.contact-option{
    display: flex;
    align-items: center;
}
.contact-option-icon{
    min-width: 22px;
    margin-right: 15px;
}
.contact-option-icon.margin-right{
    margin-right: 8px;
}

.contact-option-link:link,
.contact-option-link:visited,
.contact-option>span{
    text-decoration: none;
    color: #e5fefbf7;
}

.main-content>.container{
    display: flex;
    padding-top: 50px;
}
.col{
    display: flex;
    flex-direction: column;
}
.left-col{
    width: calc(45% - 154px);
    margin-right: 154px;
}
.right-col{
    width: 55%;
}
.section{
    margin-bottom: 60px;
}
.i-am{
    font-size: 16px;
    line-height: 1.5;
}
.summary-text {
    padding: 25px 15px;
    text-indent: 20px;
    background-color: rgba(205, 249, 241, 0.454);
    border-radius: 5px;
}
.section-title{
    font-weight: bold;
    font-size: 24px;
    color: #0c4245;
    text-transform: uppercase;
    width: 100%;
    margin-bottom: 28px;
}
.section-title:after{
    content: '';
    margin-top: 18px;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #0c4245;
}

/*left-col*/
.marked-list{
    margin-top: 22px;
    list-style: url('../img/check.svg') inside;
}
.marked-list.duties>li{
    line-height: 23px;
    color: #0c4245;
    font-size: 14px;
}
.skills {
    font-weight: 800;

}
.skills>.marked-list>li{
    line-height: 1.8;
    font-size: 16px;
    list-style: url('../img/check.svg') inside;
}
.skills>.marked-list>li:hover{
    transform: scale(1.1);
}
.cloud-wrap{
    display: flex;
    flex-wrap: wrap;
}
.cloud-item{
    background: rgba(184, 254, 241, 0.523);;
    border-radius: 4px;
    line-height: 170%;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 8px;
    margin-bottom: 8px;
    color: #0c4245;
    transition: all .3s;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.cloud-item:hover{
    transform: scale(1.1);
}
.list-link:link,
.list-link:visited{
    text-decoration: none;
    padding: 5px 5px;
    color: #0c4245;
    display: inline-block;
    align-items: center;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.list-link:hover{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}
.list-link.ru:link,
.list-link.ru:visited {
    display: none;
}
.mha{
    text-decoration: none;
    padding: 5px 5px;
    color: #0c4245;
    display: block;
    align-items: center;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.scales{
    width: 100%;
    padding-top: 5px;
}
.scales-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.scales-title{
    width: 37%;
    margin-right: 8%;
}

.scale{
    width: 54%;
}
.full-scale{
    width: 100%;
    background: #b1d3d5;
    border-radius: 2px;
    height: 4px;
    position: relative;
}
.full-scale:before{
    content: '';
    position: absolute;
    left:0;
    top: 0;
    background: #167e83;
    border-radius: 2px;
    height: 4px;
}
.full-scale.web-storm:before{
    width: 97%;
}
.full-scale.vscode:before{
    width: 98%;
}
.full-scale.vs:before{
    width: 70%;
}
.full-scale.photoshop:before{
    width: 88%;
}
.full-scale.figma:before{
    width: 97%;
}
.full-scale.avocode:before{
    width: 88%;
}
.languages .scales-title{
    width: 20%;
    margin-right: 5%;
}
.languages .scale{
    width: 42%;
}
.languages .scale-comment{
    width: 30%;
    margin-left: 3%;
    color: #167e83
}
.full-scale.eng:before{
    width: 68%;
}
.full-scale.ukr:before{
    width: 100%;
}
.full-scale.rus:before{
    width: 100%;
}
/*right col*/
.right-col-item{
    display: flex;
    margin-bottom: 20px;
}
.left-side{
    margin-right: 5%;
    width: 38%;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
}
.left-side-subtitle{
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #0c4245;
    display: block;
}
.right-side{
    width: 60%;
    font-size: 13px;
    line-height: 1.5;
    color: #47646f

}
.columns-3{
    column-count: 2;
    padding: 10px;
    padding-left: 20px;
    list-style: url('img/check.svg') outside;
}
.list-item-title{
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 3px;
}
.list-item-dates{
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: #167e83;
    margin-top: 5px;
}
/* language block slider  */
.modeBlock {
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
  }
  .modeHeader {
    font-size: 18px;
    color: #e5fefbf7;
    margin: 25px;
  }
  .switch>input {
    display: contents;
  }
  .lang-eng,
  .lang-ru {
    font-size: 18px;
    padding: 0 10px;
    color: #e5fefbf7;
    opacity: .4;
    font-weight: 600; 
  }
  .lang-eng.active,
  .lang-ru.active {
    color: #e5fefbf7;
    opacity: 1;
  }
  .slider {
    position: relative;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    transition: .4s;
    border: 1px solid #e5fefbf7;
    border-radius: 34px;
    width: 60px;
    height: 33px;
    display: block;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 25px;
    width: 25px;
    left: 4px;
    bottom: 3px;
    background-color: #e5fefbf7;
    transition: .4s;
  }
    
  #mode:focus + .slider {
    outline: none;
  }
    
  #mode:checked + .slider::before {
    transform: translateX(27px);
  }
  
  .slider::before {
    border-radius: 50%;
  }
  
/* hint block */
.hint-block {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
    opacity: .6;
    background-color: #167e83;
    display: none;
}
#hint{
    display: none;
}
#me-hint {
    position:absolute;
    top: 300px;
    left: 300px;
    color: #ffffff;
    font-size: 26px;
    font-weight: 800;
    z-index: 13;
    text-shadow: 1px 1px 6px #092e30;
    animation: blurFadeInOut 3s ease-in backwards;
    animation-delay: 0.6s;
    opacity: 0;
}
#me-hint::after {
    content: "";
    width: 70px;
    height: 70px;
    background-image: url("./img/row-left.png");
    z-index: 13;
    position: absolute;
    top: -50px;
    background-size: contain;
    background-repeat: no-repeat;
    transform: scale(1, -1);
    left: -72px;
}
#lang-hint{
    position:absolute;
    top: 80px;
    right: 235px;
    color: #ffffff;
    font-size: 26px;
    font-weight: 800;
    z-index: 13;
    text-shadow: 1px 1px 6px #092e30;
    animation: blurFadeInOut 3s ease-in backwards;
    animation-delay: 3s;
    opacity: 0;
}
#lang-hint::after {
    content: "";
    width: 70px;
    height: 70px;
    background-image: url("./img/row-right.png");
    z-index: 13;
    position: absolute;
    top: -31px;
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(-60deg);
    right: -95px;
}
#print-hint {
    position:absolute;
    top: 170px;
    right: 160px;
    color: #ffffff;
    font-size: 26px;
    font-weight: 800;
    z-index: 13;
    text-shadow: 1px 1px 6px #092e30;
    animation: blurFadeInOut 3s ease-in backwards;
    animation-delay: 6s;
    opacity: 0;
}
#print-hint::after {
    content: "";
    width: 70px;
    height: 70px;
    background-image: url("./img/row-left.png");
    z-index: 13;
    position: absolute;
    top: 14px;
    background-size: contain;
    background-repeat: no-repeat;
    right: -70px;
    transform: scale(-1,1);
}
#thanks-hint {
    position:absolute;
    top: 38%;
    right: 25%;
    color: #ffffff;
    font-size: 40px;
    font-weight: 800;
    z-index: 13;
    text-shadow: 1px 1px 6px #092e30;
    animation: blurFadeInOut 3s ease-in backwards;
    animation-delay: 9s;
    opacity: 0;
}

@keyframes blurFadeInOut {
	0% {
		opacity: 0;
		transform: scale(1.3);
	}
	20%, 75% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(0);
	}
}

/* all media */
@media screen and (max-width: 768px){
    .photo{
       width: 190px;
        height: 190px;
        margin-right: 5%;
        margin-top: 17%;
        margin-left: 5%;
    }
    .header-contacts{
        width: 100%;
        grid-template-columns: 1fr;
        grid-gap: 7px;
    }
    #me-hint {
        left: 255px;
    }
    #thanks-hint {
        right: 15%;
    }
}

@media screen and (max-width: 640px) {
    .container{
        padding-left: 20px;
        padding-right: 20px;
    }
    .main-content>.container{
        flex-direction: column;
    }
    .page-header>.container{
        flex-direction: column;
    }
    .print:link, .print:visited{
        display: none;
    }
    .photo{
        display: none;
    }
    .left-col,
    .right-col{
        width: 100%;
        margin-right: 0;
    }
    .header-title{
        width: 100%;
        margin-bottom: 15px;
    }
    .header-contacts{
        width: 100%;
    }
    #me-hint,
    #print-hint  {
        display: none;
    }
    #lang-hint {
        top: 116px;
        right: 160px;
        animation: blurFadeInOut 3s ease-in backwards;
        animation-delay: 0.4s;
        font-size: 22px;
        opacity: 0;
    }
    #lang-hint::after {
        width: 55px;
        height: 55px;
        top: -39px;
        right: -66px;
        transform: rotate(-90deg);
    }
    #thanks-hint {
        font-size: 31px;
        animation: blurFadeInOut 2.5s ease-in backwards;
        animation-delay: 3s;
    }
}
@media screen and (max-width: 450px) {
    .header-contacts{
        grid-template-columns: 1fr;
        grid-gap: 7px;
    }

    .main-content>.container{
        padding-top: 45px;
    }
    .section{
        margin-bottom: 35px;
    }
    .right-col-item{
        flex-direction: column;
    }
    .left-side{
        width: 100%;
        padding: 5px 5px 20px;
    }
    .right-side{
        width: 100%;
    }
    .lang-eng-link:link,
    .lang-eng-link:visited{
        padding: 5px 5px 20px;
    }
    .lang-eng-link:hover{
        -webkit-transform: none;
        transform: none;
        -webkit-transition-timing-function: initial;
        transition-timing-function: initial;
    }
    .modeBlock {
        bottom: 10px;
        top: auto;
    }
    .lang-eng,
    .lang-ru {
        font-size: 14px;
        color: #01321f;
    }
    .lang-eng.active,
    .lang-ru.active {
        color: #01321f;
    }
    .slider {
        border: 1px solid #01321f;
        height: 25px;
    }
    .slider:before {
        height: 17px;
        width: 17px;
        background-color: #01321f;
    }
    #lang-hint {
        top: 240px;
        right: 30px;
        font-size: 16px;
    }
    #lang-hint::after {
        width: 45px;
        height: 45px;
        top: 25px;
        right: 55px;
        transform: rotate(40deg);
        background-image: url("./img/row-right.png");
    }
    #thanks-hint {
        font-size: 20px;
    }
}
@media print{

    .web {
        display: none !important;
    }
    .print-version {
        display: block !important;
    }
    *,*:before,*:after,*:first-letter,p:first-line,div:first-line,blockquote:first-line,li:first-line {
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a.list-link:after {
        content: " (" attr(href) ")";
        font-size: 11px;
        line-height: 10px;
        font-weight: normal;
        font-style: italic;
    }
    .modeBlock {
        display: none;
    }
    /*@page { margin: 1cm; }*/
    .page-header>.container{
        padding-top: 10px;
        padding-bottom: 0;
        margin-bottom: -20px;
    }
    .header-left-side{
        width: 45%;
        margin-left: 30px;
    }
    .header-title>.name{
        font-size: 26px;
        line-height: 42px;
    }
    .header-title>.position {
        font-size: 16px;
        line-height: 20px;
        opacity: 0.8;
        font-weight: bold;
        margin-left: 5px;
        margin-bottom: 10px;
    }
    .contact-option {
        font-size: 11px;
    }
    .photo{
        width: 160px;
        height: 160px;
        margin-top: 10%;
    }
    .flex-column {
       margin-left: 10%;
    }
    .header-contacts{
        padding-right: 1cm;
        grid-row-gap: 1px;
        grid-column-gap: 10px;
        width: 60%;
    }
    .print:link,
    .print:visited {
        display: none;
    }
    .main-content>.container{
        padding-top: 20px;
    }
    .flex-container {
        display: flex;
        justify-content: space-between;
    }
    .marked-list {
        margin-top: 0;
    }
    .marked-list>li{
        padding-bottom: 5px;
        font-weight: 600;
    }
    .left-col{
        width: calc(40% - 30px);
        margin-right: 30px;
    }
    .right-col{
        width: calc(100% - 40%);
    }
    .section {
        margin-bottom: 15px;
        font-size: 12px;
    }
    .section-title{
        font-size: 16px;
        margin-bottom: 0;
    }

     /*left-col*/
    .section.i-am.print-version>.section-title {
        margin-bottom: -4px;
    }
    .summary-text {
        padding: 5px;
        text-indent: 20px;
        border-top: 1px solid #c3ccd3;
        font-size: 13px;
    }
    .marked-list.duties>li{
        line-height: 16px;
        font-size: 12px;

    }
    .scales{
        padding-top: 0;
        list-style: disc;
        list-style-position: inside;
    }
    .scales-item{
        margin-bottom: 5px;
        justify-content: flex-start;
    }
    .scales-title{
        width: auto;
        padding: 10px;
        line-height: 1.5;
        border-top: 1px solid #c3ccd3;
    }
    .scale{
        display: none;
    }
    .languages .scale-comment{
        color: #0a1a13;
        margin-left: 10%;
        width: auto;
    }
    .lang {
        border-top: 1px solid #c3ccd3;
        padding-top: 10px;
    }
    .level {
        font-weight: 700;
    }
    .lang span {
        opacity: 0.4;
    }
    .lang p {
        padding-bottom: 5px;
        display: inline-block;
        width: 30%;
    }
    .lang p.ru {
       display: none;
    }
    /*right col*/
    .section.projects.print-version>.section-title {
        margin-bottom: 5px;
    }
    .section.projects.print-version>.right-col-item.first {
        border-top: 1px solid #c3ccd3;
    }
    .right-col-item {
        margin-bottom: 0;
        padding-top: 10px;
        display: block;
    }
    .left-side{
        font-size: 13px;
        line-height: 18px;
        width: 100%;
        padding-bottom: 5px;
    }
    h4.left-side {
        width: 40%;
    }
    .left-side-subtitle{
        font-size: 11px;
        line-height: 14px;
        display: inline;
    }
    .left-side-subtitle.ru{
       display: none;
    }
    .right-side{
        font-size: 11px;
        line-height: 14px;
        width: 100%;
    }
    .proj-link {
        font-size: 11px;
        padding-bottom: 5px;
    }
    .project-desc {
        line-height: 1.5;
        font-size: 12px;
    }
    .columns-3{
        float: left;
        line-height: 1.5;
        border-top: 1px solid #c3ccd3;
    }
    .columns-3 li {
        font-weight: 700;
        list-style: url("./img/check.svg");
        margin-left: 20px;
    }
    .list-item-title{
        font-size: 13px;
        line-height: 18px;
    }
    .list-item-dates{
        line-height: 1.5;
        font-size: 11px
    }
    .section.education .right-col-item {
      display: flex;
    } 
    .section.education .right-col-item.first {
        border-top: 1px solid #c3ccd3; 
    }
    .cloud-item{
        border: 1px solid #c3ccd3;
    }
    
}

